<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>

<body>
  <script src="../vue.js"></script>
  <div id="exercise">
    <!-- 1) Hook up the button to toggle the display of the two paragraphs. Use both v-if and v-show and inspect the elements to see the difference -->
    <div>
      <button @click="isToggled = !isToggled">Toggle</button>
      <p v-if="isToggled">You either see me ...</p>
      <p v-if="isToggled">...or me</p>
      <p v-show="isToggled">You either see me ...</p>
      <p v-show="isToggled">...or me</p>
    </div>
    <!-- 2) Output an <ul> of array elements of your choice. Also print the index of each element. -->
    <ul>
      <h2>Погроммисты:</h2>
      <li v-for="(name, index) in fronters">{{ index }}: {{ name }}</li>
    </ul>
    <!-- 3) Print all key-value pairs of the following object: {title: 'Lord of the Rings', author: 'J.R.R. Tolkiens', books: '3'}. Also print the index of each item. -->
    <ul>
      <li v-for="(value, key) in myObject">{{ key }}: {{ value }}</li>
    </ul>
    <!-- 4) Print the following object (only the values) and also create a nested loop for the array: {name: 'TESTOBJECT', data: [1.67, 1.33, 0.98, 2.21]} (hint: use v-for and v-if to achieve this) -->
    <ul>
      <template v-for="(value, property) in testData" v-if="property === 'data'">
        <li v-for="item in testData[property]">
          {{ item }}
        </li>
      </template>
      <template v-else>
        <li>
          {{ value }}
        </li>
      </template>
    </ul>
  </div>
  <script src="app.js"></script>
</body>

</html>
